.footer {
  display: flex;
  background-color: #fff;
  padding: 30px 0;
  margin-top: 100px;

  .textos {
    h4 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
    }

    a {
      font-size: 14px;
      transition: .2s all ease;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }

      span {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .textos {
    text-align: center;
  }
}